body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-image: url('img/3. Background/Background.jpg');
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'luckiest', Arial, Helvetica, sans-serif;
    -webkit-user-select: none; /* Für Safari */
    -moz-user-select: none; /* Für Firefox */
    -ms-user-select: none; /* Für Internet Explorer/Edge */
    user-select: none; /* Standard */
}

@font-face {
    font-family: 'luckiest';
    src: url('fonts/LuckiestGuy-Regular.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.d-none {
    visibility: hidden;
}

h1 {
    font-size: 64px;
    letter-spacing: 8px;
    text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.5);
}

.canvas-container {
    position: relative;
}

canvas {
    background-color: black;
    display: block;
}

.overlay-image {
    position: absolute;
    top: 0;
    object-fit: cover;
}

.center-image {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.sound-image {
    position: absolute;
    cursor: pointer;
    top: 6%;
    left: 75%;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.retry-image {
    position: absolute;
    cursor: pointer;
    width: 200px;
    top: 55%;
    left: 36%;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.retry-image2 {
    position: absolute;
    cursor: pointer;
    width: 200px;
    top: 70%;
    left: 35%;
    transition: transform 0.3s ease;
    background-color: transparent;
    border: none;
}

.image-scaling {
    width: 200px;
}

.retry-image:hover,
.retry-image2:hover {
    transform: translate(-0%, 0%) scale(1.1);
}

.center-image:hover {
    transform: translate(-50%, -100%) scale(1.1);
}

.sound-image:hover {
    transform: translate(-0%, 0%) scale(1.1);
}


.align {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 15px;
    right: 280px;
}

.panel1 {
    position: absolute;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.panel1:nth-child(1) {
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.panel1:nth-child(2) {
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.panel1:nth-child(3) {
    left: -20px;
    top: 50%;
    transform: translate(0, -50%);
}

.panel1:nth-child(4) {
    right: -20px;
    top: 50%;
    transform: translate(0, -50%);
}

.panel2 {
    position: absolute;
}

.panel2:nth-child(1) {
    top: 50%;
    transform: translate(0, -50%);
}

.panel2:nth-child(2) {
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
}

.panel2:nth-child(3) {
    right: 60px;
    top: 50%;
    transform: translate(0, -50%);
}

.right-panel {
    position: relative;
    margin-left: 620px;
    top: 15px;
}

@media (max-width: 1200px) {
    .align {
        visibility: visible;
    }
}

@media (max-width: 720px) {
    .align {
        right: 250px;
    }

    .right-panel {
        left: 70vw;
        margin-left: 0;
    }

    .panel2:nth-child(2) {
        right: -10px;
    }

    .panel2:nth-child(3) {
        right: 110px;
    }

    .center-scaling {
        width: 250px;
    }
    
    .image-scaling {
        width: 120px;
    }
}

@media (max-width: 640px) {
    .align {
        right: 220px;
    }

    .center-scaling {
        width: 180px;
    }

    .retry-image,
    .retry-image2 {
        left: 34%;
    }
}

@media (max-width: 545px) {
    .align {
        right: 180px;
    }

    .sound-image {
        top: 28px;
    }

    .sound-scaling {
        width: 40px;
    }

    .retry-image,
    .retry-image2 {
        left: 31%;
    }
}

@media (max-width: 500px) {
    .align {
        right: 160px;
    }

    .right-panel {
        left: 60vw;
    }
}

@media (max-width: 460px) {
    .align {
        right: 140px;
    }

    .center-scaling {
        width: 120px;
    }

    .sound-image {
        top: 20px;
    }
}

@media (max-width: 420px) {
    .align {
        right: 120px;
    }
    .retry-image,
    .retry-image2 {
        left: 25%;
    }
}

@media (max-width: 370px) {
    .align {
        right: 100px;
    }

    .sound-image {
        top: 19px;
    }

    .sound-scaling {
        width: 20px;
    }

    .retry-image,
    .retry-image2 {
        left: 20%;
    }
}

@media (max-width: 340px) {
    .align {
        right: 80px;
    }

    .right-panel {
        left: 50vw;
    }
}

@media only screen and (max-width: 920px) {
    canvas {
        width: 100vw;
    }

    .canvas-container {
        width: 100vw;
    }

    .overlay-image {
        width: 100vw;
    }

}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }

    .canvas-container {
        height: 100vh;
    }

    .overlay-image {
        height: 100vh;
    }

    h1 {
        display: none;
    }

    body {
        align-items: normal;
    }

    .align {
        right: -35px;
        margin: 0;
        height: 0;
        bottom: 120px;
    }

    .panel1:nth-child(1) {
        top: -45px;
    }

    .panel1:nth-child(2) {
        top: 5px;
    }
}